<p>vechile works!</p>
<input type="text" placeholder="search" [(ngModel)]="term" (keyup)="filter()">
<select [(ngModel)]="column">
    <option >color</option>
    <option >type</option>
    <option >type</option>
</select>
<select [(ngModel)]="order">
    <option value="asc" >Ascending</option>
    <option value="desc" >Descending</option>

</select>
<button (click)="sort()">Sort</button>
<!-- page -->
<select [(ngModel)]="limit">
    <option >10</option>
    <option >20</option>
    <option >30</option>
</select>
<select [(ngModel)]="page">
    <option >1</option>
    <option >2</option>
    <option >3</option>
</select>
<button (click)="pagination()">page</button>



<table >
    <thead>
        <tr>
            <th>Vehicle</th>
            <th>manufacturer</th>
            <th>model</th>
            <th>type</th>
            <th>fuel</th>
            <th>color</th>
            <th>image</th>
            <th>cost</th>
            <th>id</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vechile of vechiles">
            <td>{{vechile.Vehicle}}</td>
            <td>{{vechile.manufacturer}}</td>
            <td>{{vechile.model}}</td>
            <td>{{vechile.type}}</td>
            <td>{{vechile.fuel}}</td>
            <td>{{vechile.color}}</td>
            <td>
                <img src="{{vechile.image}}" alt="" width="100px">
            </td>
            <td>{{vechile.cost}}</td>
            <td>{{vechile.id}}</td>
            <td>
                <button (click)="delete(vechile.id)">delete</button>
            </td>

        </tr>
    </tbody>
</table>
