<p>data-binding works!</p>
<h1>My age is{{age}}</h1>
<h1>my Name is {{name}}</h1>
<h1>Is Indian:{{isIndian}}</h1>
<button [disabled] ="isInvalid">submit</button>
<!-- eventbinding -->
 <button (click)="create()">create</button>
 <input type="text" (keyup)="typing()">
 <!-- twoway Data binding -->
  <input type="text" [(ngModel)]="phone">
  <!--  -->
  <h1>calcultor</h1>
  <label for="">num1</label>
  <input type="number" [(ngModel)]="num1">
  <br>
  <label for="">num2</label>
  <input type="number" [(ngModel)]="num2">
  <br>
  <button [disabled]="!num1||!num2" (click)="sum()">sum</button>
  
  <h1>{{result}}</h1>


  