<h1>Employees</h1>
<label for="">Name</label>
<input type="text" [(ngModel)]="name">
<br>
<label for="">Experince</label>
<input type="text"  [(ngModel)]="experience">
<br>
<label for="">packages</label>
<input type="text"  [(ngModel)]="package">
<br>
<label for="">Role</label>
<input type="text"  [(ngModel)]="emprole">
<br>
<button class="btn btn-info" (click)="add()">add</button>
<button (click)="total()" class="btn btn-primary">Cost to Company</button>
<button (click)="hike()" class="btn btn-danger">hike</button>
<button (click)="bonus()" class="btn btn-info">Bonus</button>
<input  class="form-control w-25" type="text" placeholder="Search Name" [(ngModel)]="term" (keyup)="search()">
<select  class="form-control w-50" [(ngModel)]="role" (change)="rolefilter()" >
    <option value>UIDeveloper</option>
    <option>Software Developer</option>
    <option>Data engineer</option>
    <option>Testing Engineer</option>
</select>
<button (click)="packageh1()" class="btn btn-warning">Packages High to low</button>
<button (click)="packagelh1()" class="btn btn-danger">Packages low to High</button>
<table class="table table-dark">
    <thead>
        <tr>
            <th>s.no</th>
            <th>Name</th>
            <th>Experince</th>
            <th>Package</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees,let i=index">
            <td>{{i+1}}</td>
            <td>{{employee.name|uppercase}}</td>
            <td [ngClass]="{'text-danger':employee.package<1000000,'text-success':employee.package>=1000000}">{{employee.experience}}</td>
            <td>{{employee.package}}</td>
            <td>{{employee.role}}</td>
            <td>
                <button *ngIf="employee.package>500000" (click)="delete(i)" class="btn btn-danger">delete</button>
            </td>
        </tr>
    </tbody>
</table>
