<h3>create-account works!</h3>
<form [formGroup]="accountForm">
    <label for="">account_name</label>
    <input type="text" formControlName="account_name">
    <br>
    <label for="">available_balance</label>
    <input type="text" formControlName="available_balance">
    <br>
    <label for="">account_number</label>
    <input type="text" formControlName="account_number">
    <br>
    <label for="">city</label>
    <input type="text" formControlName="city">
    <br>
    <label for="">profie_picture</label>
    <input type="text" formControlName="profie_picture">
    <br>
    <button (click)="submit()">submit</button>
</form>
