.parent{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child{
    width: 30%;
    height: 50%;
    background-color:white;
    text-align: center;
}
.temp{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: orange;
}
.dot{
    width:30px;
    height: 30px;
    border-radius:50%;
    background-color: black;
    
    margin-left: 45%;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
