<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
      

         <div class= child *ngFor="let pokemon of pokemons; let i=index"
                [ngClass]="{'carousel-item':true, 'active': i === 0}">
         
                <img src="{{pokemon.image_url}}" class="d-block w-100 pkm" >
                <div class="carousel-caption d-none d-md-block para">
                        <h6>{{pokemon.pokemon}}</h6>
                        <p>{{pokemon.type}}</p>
                        <p>{{pokemon.abilities}}</p>
                        <p>{{pokemon.evolutions}}</p>
    
            </div>
          </div>  
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  
  </div>