<h3>create-studentcard works!</h3>
<form [formGroup]="studentForm">
<label for="">school_name</label>
<input type="text" formControlName="school_name">
<br>
<label for="">name</label>
<input type="text" formControlName="name">
<br>
<label for="">phone</label>
<input type="text" formControlName="phone">
<br>
<label for="">dob</label>
<input type="text" formControlName="dob">
<br>
<label for="">city</label>
<input type="text" formControlName="city">
<br>
<label for="">email</label>
<input type="text" formControlName="email">
<br>
<label for="">profile_picture</label>
<input type="text" formControlName="profile_picture">
<br>
<label for="">school_city</label>
<input type="text" formControlName="school_city">
<br>
<label for="">school_pin</label>
<input type="text" formControlName="school_pin">
<br>
<button class="btn btn-warning"(click)="submit()">submit</button>
</form>