<div class="parent">
    <div class="left">
        <h2>My Website</h2>
        <hr>
        <h3 routerLink="home">Home</h3>
        <h3 routerLink="welcome">Welcome</h3>
        <h3 routerLink="DataBinding">Data Binding</h3>
        <h3 routerLink="calcultor">Calcultor</h3>
        <h3 routerLink="rectangle">Rectangle</h3>
        <h3 routerLink="circle">Circle</h3>
        <h3 routerLink="bmi">BMI</h3>
        <h3 routerLink="directives">directives</h3>
        <h3 routerLink="Event-Registration">Event-Registration</h3>
        <h3 routerLink="Employe-Registration">Employe-Registration</h3>
        <h3 routerLink="employee">Employee</h3>
        <h3 routerLink="flipkart">Flipkart</h3>
        <h3 routerLink="vechile">Vechile</h3>
        <h3 routerLink="Account">Account</h3>
        <h3 routerLink="Amazon">Amazon</h3>
        <h3 routerLink="mail">mail</h3>
        <h3 routerLink="pinterest">pinterest</h3>
        <h3 routerLink="weather">Weather</h3>
        <h3 routerLink=blog>Blog</h3>
        <h3 routerLink="imdb">IMDB</h3>
        <h3 routerLink="pokemon">Pokemon</h3>
        <h3 routerLink="profile">Profile</h3>
        <h3 routerLink="create-vechile">create-vechile</h3>
        <h3 routerLink="create-account">create-account</h3>
        <h3 routerLink="student-card">student-card</h3>
        <h3 routerLink="create-studentcard">create-studentcard</h3>
        <h3 routerLink="create-user">create-user</h3>
        <h3 routerLink="students-details">Students- details</h3>
        <button (click)="logout()">Logout</button>
    </div>
    <div class="Right">
        <router-outlet></router-outlet>
    </div>
</div>
