<p>imdb works!</p>
<div class="parent">
<div class="child" *ngFor="let imdb of imdbs">
    <h3>{{imdb.movie}}</h3>
    <p>Rating:{{imdb.rating}}
        <span *ngFor="let item of [].constructor(4); let i = index">
            <img
              src="https://img.freepik.com/free-vector/basic-star-flat-vector_78370-1483.jpg?t=st=1731987078~exp=1731990678~hmac=00eea7759f74d860c95f71b18a680f5de0693bd0b18476ebdeb1cf0ccc1ea2a1&w=740"
              width="30px"
            />
          </span>

    </p>
    <a class="btn btn-dark text-warning"  href="{{imdb.imdb_url}}" target="_blank">viewonimdb</a>

</div>
</div>
