/* .parent{
    height: 100%;
    width:100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}
.child{
    width: 20%;
    height: 30%;
    border: 2px solid blue;
}
p{
    color: blue;
}
h3{
    color: red;
}
.rates{
    margin-top: -100px;
    /* left: 10px; */
    /* background-color: aqua; */
   /* color: brown;
   width: fit-content;
   
   background-color: gray;
    
}
.im{
    width: 100px;
    height: 100px;
} */ 
.parent{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}
.child{
    width: 20%;
    height: 40%;
    border: blue solid 2px;
    background-color: aliceblue;
}
.image{
    width: 80%;
    height: 40%;
}
.title{
    color: blue;
}
.price{
    color: red;
}
.rates{
    width: fit-content;
    background-color: gray;
}