<!-- <h1>amazon works!</h1>
 <div class="parent">
    <div class="child" *ngFor="let amazon of Amazons">
        <img class="im" src="{{amazon.image}}" alt="">
        <p class="rates">{{amazon.rating.rate}}</p>
        <h4>{{amazon.category}}</h4>
        < <p> {{amazon.id}}</p> -->
        <!-- <p>{{amazon.title}}</p>
        <h3>RS.{{amazon.price}}</h3> -->
        <!-- <p>{{amazon.description}}</p> -->




    <!-- </div> -->

<!-- </div> -->
 <div class="parent">
    <div class="child" *ngFor="let amazon of Amazons">
        <img class="image" src="{{amazon.image}}" alt="">
        <p class="rates">{{amazon.rating.rate}}</p>
        <h5>{{amazon.category}}</h5>
        <p class="title">{{amazon.title}}</p>
        <p class="price">RS.{{amazon.price}}</p>

    </div>
 </div>